[Desktop Entry]
Name=FreeTheBugs
GenericName=FreeTheBugs
Comment=A short game on fixing java bugs
Exec=free-the-bugs %F
Icon=io.github.mlm_games.free-the-bugs
Terminal=false
Type=Application
Categories=Games;Education;
